@media only screen and (max-width: 1200px) {
    .header__img {
        width: 200px;
    }
    .fz58{
        font-size: 48px;
    }
}

@media only screen and (max-width: 992px) {
    .header__img {
        display: none;
    }
    .teachers-block__text{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .fz58{
        font-size: 38px;
    }
    .numbers__title{
        font-size: 38px;
    }
    .footer__info{
        gap: 30px;
    }
    .section_Padding{
        padding: 90px 0;
    }
}
@media only screen and (max-width: 768px) {
    .hamburger{
        display: block;
    }
    .hamburger__logo{
        display: block;
    }
    .menu{
        display: none;
    }
    .header h1{
        font-size: 38px;
        margin-bottom: 20px;
    }
    .header__Content {
        margin-top: 36px;
    }
    .header__MainContent {
        padding: 62px 0;
    }
    .fz58{
        font-size: 32px;
    }
    .numbers__title{
        font-size: 32px;
    }
    .SectionFourMainBlock::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .7);
    }
    .SectionFour__Content p{
        color: #ffffff !important;
    }
    .section_Padding{
        padding: 60px 0;
    }
}
@media (max-width: 576px) {
    .logos{
        bottom: 0 !important;
    }
    .header h1{
        font-size: 25px;
        margin-bottom: 20px;
    }
    .footer__End {
        flex-direction: column;
        align-items: center;
    }
    .section_Padding{
        padding: 40px 0;
    }
}
@media only screen and (min-height: 700px) {
    .headerMainBlock{
        height: 100vh;
    }
}